header#header.header
	.inner
		.header_logo
			a.logo(href="/") Еврокузов
		.header_menu
			include menu
		.header_wrap
			.header_phone
				p + 375 29 <b>350 50 30</b>
				p + 375 29 <b>350 50 27</b>
			.header_button
				a.header_link.colorbox-inline(href="#") Обратный звонок