ul.menu-left
	li.menu-left_item
		a.menu-left_link(href="#") Кузовной ремонт
	li.menu-left_item
		a.menu-left_link(href="#") Покраска автомобиля
	li.menu-left_item
		a.menu-left_link(href="#") Полировка кузова
	li.menu-left_item
		a.menu-left_link(href="#") Ремонт бамперов
	li.menu-left_item
		a.menu-left_link(href="#") Ремонт мотоциклов
	li.menu-left_item
		a.menu-left_link(href="#") Ремонт двигателя и подвески
	li.menu-left_item
		a.menu-left_link(href="#") Кузовной ремонт и окраска ГРУЗОВЫХ автомобилей
	li.menu-left_item
		a.menu-left_link(href="#") Фаркопы: продажа с установкой
	li.menu-left_item
		a.menu-left_link(href="#") Защита картера и коробки предач
	li.menu-left_item
		a.menu-left_link(href="#") Восстановление фар автомобиля
	li.menu-left_item
		a.menu-left_link(href="#") Керамическое покрытие кузова Classic
	li.menu-left_item
		a.menu-left_link(href="#") Керамическое покрытие кузова с бронированным эффектом Elite
	li.menu-left_item
		a.menu-left_link(href="#") NEW!!! Гидрофобное покрытие стекол и оптики
	li.menu-left_item
		a.menu-left_link(href="#") Чистка и консервация подкапотного пространства
	li.menu-left_item
		a.menu-left_link(href="#") Химчистка салона паром
	li.menu-left_item
		a.menu-left_link(href="#") Эвакуация авто