nav.menu#menu
	ul.menu_list
		li.menu_item
			a.menu_link(href="/about") Главная
		li.menu_item
			a.menu_link(href="/services") О компании
		li.menu_item
			a.menu_link(href="/price") Акции
		li.menu_item
			a.menu_link(href="/gallery") Напишите нам
		li.menu_item
			a.menu_link(href="/news") Контакты