extends include/html
block title
	title Autoservice - О компании
block content
	main.content
		.inner
			.mybreadcrumb
				a(href="/").mybreadcrumb_link Главная
				span.mybreadcrumb_item О компании
			aside.content_left
				h1.content_h1 Наши услуги
				include include/menu-left
			.content_right
				h1 О компании
				article.article
					p 
						img(src="images/about/about-1.jpg", alt="")
					p <b>Уважаемые господа!</b>
					p Команда высококлассных специалистов в области авторемонтного производства <b>СТО "ЕвроКузов"</b>, уже многие годы работающая на современном профессиональном оборудовании с использованием передовых технологий и материалов готова выполнить <b>работы по ремонту Ваших автомобилей различной сложности и по разумным ценам.</b> В основе деятельности нашей компании заложены индивидуальный подход к каждому клиенту, специальные предложения и особенные условия для корпоративных клиентов, а так же достойное качество обслуживания и работ. <b>СТО "ЕвроКузов" имеет раздельные производственные цеха для: покраски и полировки автомобилей, кузовного, подготовки к покраске, технического обслуживания и слесарных работ, восстановления кабин и рам вашей легковой и грузовой автомобильной техники.</b>
					p Особенно стоит отметить, что восстановление геометрии кузова не терпит самодеятельности. Все кузовные работы - так, даже незначительные перекосы мы устраняем на профессиональном гидравлическом стапеле , приводя  к заводским параметрам все несущие части кузова. Там, где заводом-изготовителем использовалась точечная сварка по железу, либо аргоновая сварка легкосплавных металлов - <b>мы неизменно повторяем заводские технологии.</b> Особенно стоит отметить, что во избежание последующих коррозий металлов в местах сварки все сварные швы обязательно обрабатываются специальными кислотными и эбоксидными грунтами и герметизируются, что позволяет нам гарантировать долгую беспроблемную службу восстановленных нами кузовов. Постоянно обновляя наше оборудование и инструмент, <b>мы готовы предложить полный комплекс восстановительных работ "под ключ".</b> Т.е., клиенту достаточно предоставить требующий ремонта автомобиль, а мы в свою очередь готовы его деффектовать, произвести подбор и доставку необходимых для ремонта запасных частей (как оригинальных, так и неоригинальных, но от известных и проверенных производителей), произвести, замену стёкол, различных узлов и агрегатов, деталей двигателя и подвески, электронных блоков, подушек и ремней безопасности, также произвести компьютерный подбор краски BASF - RM на собственном стенде подбора эмалей  и произвести качественную окраску в профессиональной окрасочной камере.