extends include/html
block title
	title Autoservice - Контакты
block content
	main.content
		.inner
			.mybreadcrumb
				a(href="/").mybreadcrumb_link Главная
				span.mybreadcrumb_item Контакты
			h1 Контакты
			.contacts
				.contacts_header
					img(src="images/contacts/contacts-1.jpg", alt="")
					p(style="font-size:24px;") Начальник СТО<br><b>Степаненко Дмитрий Владимирович</b><br>Личный мобильный телефон<br><b>+375(29)6968886</b>
					| <hr>
					p(style="font-size:24px;") <b>Контактные телефоны СТО "ЕвроКузов":</b><br>Администратор: Vel. +375 29 350 50 30<br>Отдел зап.частей: Vel. +375 29 350 50 27
				p Уважаемые клиенты, наша компания стремится непрерывно совершенствовать уровень и качество наших услуг. Если у Вас есть какие-либо отзывы или пожелания по работе СТО «ЕвроКузов», а также некие деловые предложения – <b>вы можете связаться непосредственно с руководителем фирмы Степаненко Дмитрием Владимировичем.</b>
				h2(style="font-size:24px;") <b>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «ЕВРОКУЗОВ»(ООО «ЕВРОКУЗОВ»)</b>
				p <b>Физический адрес:</b> пос.Колодищи, полигон, Б1/К<br><b>Юридический адрес:</b>Минский район, пос. Колодищи, полигон, Б1/К.
				|<hr>
				h2 <b>Банковские реквизиты:</b>
				p р\с № 3012014137013<br>в  «Приорбанк» ОАО ЦБУ 117, г. Минск, 220141, код 749<br>адрес банка пр.Независимости, 168/2<br>УНП 690595559<br>ОКПО 296953076000.<br>Начальник СТО действует на основании доверенности N1 от 1.04.2015
				h2 <b>Данные о гос.регистрации:</b>
				p свидетельство о гос.регистрации выдано решением Минского Райисполкома от 03.02.2009г , в ЕГР за  № 690595559
				|<hr>
				p <span style="color:#ed081e;">ВНИМАНИЕ:</span> ДЛЯ УДОБСТВА СВОИХ КЛИЕНТОВ ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ СТО "ЕвроКузов" МОЖЕТ ПРЕДЛОЖИТЬ БЕСПЛАТНЫЙ ТРАНСФЕР(доставку)  до ст. метро "Уручье" в дни приёмки и выдачи вашего автомобиля в ремонт(из ремонта).  Теперь география нашего расположения для Вас не создаст лишних хлопот. <b>За подробностями обращайтесь к администратору +375 29 3505030</b>
			.map2
				h2 Карта:
				.map2_google#map2
				h2 Карта проезда:
				img(src="images/map-1.jpg", alt="")
				h2 Схема проезда:
				img(src="images/map-2.jpg", alt="")