extends include/html
block title
	title Autoservice - Главная страница
block content
	.slider
		.inner
			a(href="/").slider_logo Еврокузов
			h1.slider_text Кузовные и малярные работы
	.icons
		.inner
			ul.icons_list
				li.icons_item
					div.icons_image
						img(src="images/icons-1.png", alt="")
					span Кузовные работы
				li.icons_item
					div.icons_image
						img(src="images/icons-2.png", alt="")
					span Малярные работы
				li.icons_item
					div.icons_image
						img(src="images/icons-3.png", alt="")
					span Слесарные работы
				li.icons_item
					div.icons_image
						img(src="images/icons-4.png", alt="")
					span Кузовной ремонт грузовиков
				li.icons_item
					div.icons_image
						img(src="images/icons-5.png", alt="")
					span Эвакуация авто
	main.content
		.inner
			aside.content_left
				h1.content_h1 Наши услуги
				include include/menu-left
			.content_right
				article.article
					h1.article_h1 О компании
					p <b>Уважаемые господа</b>
					p Команда высококлассных специалистов в области авторемонтного производства <b>СТО "ЕвроКузов"</b>, уже многие годы работающая на современном профессиональном оборудовании с использованием передовых технологий и материалов готова выполнить <b>работы по ремонту Ваших автомобилей различной сложности и по разумным ценам.</b> В основе деятельности нашей компании заложены индивидуальный подход к каждому клиенту, специальные предложения и особенные условия для корпоративных клиентов, а так же достойное качество обслуживания и работ. <b>СТО "ЕвроКузов" имеет раздельные производственные цеха для: покраски и полировки автомобилей, кузовного, подготовки к покраске, технического обслуживания и слесарных работ, восстановления кабин и рам вашей легковой и грузовой автомобильной техники.</b>
					p Особенно стоит отметить, что восстановление геометрии кузова не терпит самодеятельности. Все кузовные работы - так, даже незначительные перекосы мы устраняем на профессиональном гидравлическом стапеле , приводя  к заводским параметрам все несущие части кузова. Там, где заводом-изготовителем использовалась точечная сварка по железу, либо аргоновая сварка легкосплавных металлов - <b>мы неизменно повторяем заводские технологии.</b> Особенно стоит отметить, что во избежание последующих коррозий металлов в местах сварки все сварные швы обязательно обрабатываются специальными кислотными и эбоксидными грунтами и герметизируются, что позволяет нам гарантировать долгую беспроблемную службу восстановленных нами кузовов. Постоянно обновляя наше оборудование и инструмент, <b>мы готовы предложить полный комплекс восстановительных работ "под ключ".</b> Т.е., клиенту достаточно предоставить требующий ремонта автомобиль, а мы в свою очередь готовы его деффектовать, произвести подбор и доставку необходимых для ремонта запасных частей (как оригинальных, так и неоригинальных, но от известных и проверенных производителей), произвести, замену стёкол, различных узлов и агрегатов, деталей двигателя и подвески, электронных блоков, подушек и ремней безопасности, также произвести компьютерный подбор краски BASF - RM на собственном стенде подбора эмалей  и произвести качественную окраску в профессиональной окрасочной камере.
				section.special-block
					header
						h1.special-block_h1 Акции
						a(href="#") все акции
					.special-block_wrap
						.special-block_item
							p.special-block_name Покраска 1 или 2 любых кузовных деталей вашего автомобиля в автосервисе «Еврокузов»!
							p.special-block_date Акция действует с 12.03.16 по 12.04.2016.
							a.special-block_link(href="#") Подробнее
						.special-block_item
							p.special-block_name Пройди ТО и получи в подарок компьютерную диагностику в нашем сервисе!
							p.special-block_date Акция действует с 22.02.16 по 30.03.2016.
							a.special-block_link(href="#") Подробнее
					.special-block_bac
	.bottom
		.bottom_inner
			.bottom_left
				section.info
					h1.info_h1 Банковские реквизиты:<br>
					p <b>р\с № 3012014137013</b><br>в  «Приорбанк» ОАО ЦБУ 117,<br>г. Минск, 220141, код 749<br>адрес банка пр.Независимости, 168/2<br><b>УНП 690595559</b><br><b>ОКПО 296953076000</b>
					p Начальник СТО действует на основании доверенности N1 от 1.04.2015
				section.info
					h1.info_h1 Данные о гос.регистрации:<br>
					p Cвидетельство о гос.регистрации выдано решением Минского Райисполкома<br>от 03.02.2009г , в ЕГР за  № 690595559
			.bottom_map
				.map#map
				.mapinfo
					.mapinfo_title Наши координаты
					p <b>Минский район,</b><br>пос. Колодищи, полигон, Б1/K.
					p +375 29 <b>350 50 30</b><br>+375 29 <b>350 50 27</b>
					p <b>Присоединяйтесь!</b>
					ul.mapinfo_list
						li
							a(href="facebook.com").mapinfo_link.mapinfo_link__fb
						li
							a(href="google.com").mapinfo_link.mapinfo_link__gg
						li
							a(href="twitter.com").mapinfo_link.mapinfo_link__tt