extends include/html
block title
	title Autoservice - Услуги
block content
	main.content
		.inner
			.mybreadcrumb
				a(href="/").mybreadcrumb_link Главная
				span.mybreadcrumb_item Услуги
			aside.content_left
				h1.content_h1 Наши услуги
				include include/menu-left
			.content_right
				h1 Услуги
				ul.services
					li.services_item
						a(href="#") Фаркопы: продажа с установкой
					li.services_item
						a(href="#") Кузовной ремонт и окраска ГРУЗОВЫХ автомобилей, покраска грузовых автомобилей
					li.services_item
						a(href="#") Кузовной ремонт
					li.services_item
						a(href="#") Ремонт лакокрасочного покрытия
					li.services_item
						a(href="#") Полировка кузова, полировка автомобиля
					li.services_item
						a(href="#") Ремонт бамперов и деталей из пластика
					li.services_item
						a(href="#") Ремонт мотоциклов
					li.services_item
						a(href="#") Ремонт двигателя и подвески
					li.services_item
						a(href="#") Контакты и схема проезда
					li.services_item
						a(href="#") Защита картера и коробки передач