.article{
	p{
		line-height: 1.2;
	}
	@include a768{
		table{
	    p{
	      margin: 0;
	    }
	    tr:first-child td strong{
	    	font-size: 14px;
	    }
	  }
	}
	ul{
		padding-left: 25px;
		list-style-type: disc;
		margin-bottom: 24px;
		li{
			margin-bottom: 5px;
			font-size: 16px;
		}
	}
	img{
		max-width: 100%;
		height: auto;
	}
	@include a768{
		h1{
			text-align: center;
			margin-bottom: 10px;
		}
	}
}