.header{
	@include clearfix;
	background-color: #ffc706;
	padding: 10px 0 3px;
	&_logo{
		float: left;
		a{
			display: block;
			width: 234px;
			height: 102px;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background: url('../images/header-logo.png');
		}
	}
	&_menu{
		padding-top: 8px;
		float: right;
	}
	&_wrap{
		padding-top: 21px;
		@include clearfix;
		float: right;
	}
	&_phone{
		float: left;
		padding-left: 0;
		p{
			line-height: 1.2;
			margin-bottom: 7px;
			white-space: nowrap;
		}
	}
	&_button{
		float: left;
		width: 190px;
		margin-left: 16px;
		text-align: right;
		a{
			display: inline-block;
			text-align: center;
			width: 100%;
			font-family: $fontPTBold;
			text-decoration: none;
			font-size: 18px;
			line-height: 2.3;
			@include link(#0a0b0c, #0a0b0c);
			border: 2px solid #0a0b0c;
			padding: 1px 0 5px;
			&:hover{
				opacity: 0.7;
			}
		}
	}
}
.front .header{
	padding: 34px 0 28px;
	&_logo{
		display: none;
	}
	&_menu{
		float: left;
		width: 59.375%;
		padding-top: 16px;
	}
	&_wrap{
		padding-top: 0;
		width: 40.625%;
		float: left;
	}
	&_phone{
		padding-left: 28px;
		width: 51.2821%;
	}
	&_button{
		width: 48.7179%;
		margin-left: 0;
	}
}