.slider{
	min-height: 700px;
	background: url('../images/slider.jpg') 50% 50% no-repeat;
	background-size: cover;
	text-align: right;
	padding-top: 180px;
	@include a768{
		background: none;
		background-color: #044aab;
		min-height: 0;
		padding: 10px 0 0 0;
		@include clearfix;
	}
	&_logo{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		float: right;
		width: 314px;
		height: 137px;
		background: url('../images/slider-logo.png');
		margin-bottom: 58px;
		@include a768{
			float: none;
			display: block;
			margin: 0 auto;
			max-width: 140px;
			height: 60px;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	h1{
		font-family: $fontBook;
		font-size: 60px;
		line-height: 1.2;
		color: #fff;
		clear: both;
		float: right;
		max-width: 390px;
		@include a768{
			float: none;
			font-size: 40px;
			max-width: none;
			text-align: center;
			margin-bottom: 0;
		}
	}
}