.special{
	p{
		line-height: 1.2;
		margin-bottom: 26px;
	}
	color: #000;

	&_item{
		@include clearfix;
		position: relative;
		padding: 50px 0 50px;
		border-bottom: 1px solid #ddd;
		&:first-child{
			padding-top: 0;
		}
		&:last-child{
			padding-bottom: 15px;
			border: none;
		}
		@include a768{
			padding-bottom: 15px;
		}
	}
	&_image{
		float: left;
		width: 51.3888%;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		@include a768{
			float: none;
			width: auto;
			margin: 0 auto;
			max-width: 370px;
		}
	}
	&_body{
		float: left;
		width: 48.6111%;
		padding: 0 0 25px 20px;
		@include a768{
			float: none;
			width: 100%;
			padding: 10px 0 0;
			p{
				margin-bottom: 5px;
			}
		}
	}
	&_name{

	}
	&_date{
		font-family: $fontPTBold;
	}
	&_link{
		position: absolute;
		bottom: 50px;
		right: 0;
		font-family: $fontPTBold;
		@include link(#044aab, #044aab);
		@include a768{
			bottom: -8px;
			left: 0;
		}
	}
}