.wfs{
	display: block;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -10px;
	background: url('../images/wfs.png') no-repeat;
	width: 115px;
	height: 45px;
	background-size: contain;
}