$font: bebas_neue_regularregular, sans-serif;
$fontBold: bebas_neuebold, sans-serif;
$fontBook: bebas_neuebook, sans-serif;
$fontPT: PTSansRegular, sans-serif;
$fontPTBold: PTSansBold, sans-serif;
$fontSize: 18px;
$lineHeight: 1;
$fontColor: #0a0b0c;
$h1Color: #044aab;

$maxWidth: 984px;
$minWidth: 768px;
$innerPadings: 0 12px;