$font: bebas_neue_regularregular, sans-serif;
$fontBold: bebas_neuebold, sans-serif;
$fontBook: bebas_neuebook, sans-serif;
$fontPT: PTSansRegular, sans-serif;
$fontSize: 16px;
$lineHeight: 1;
$fontColor: #434242;

$maxWidth: 1024px;
$minWidth: 768px;
$innerPadings: 0 12px;